# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/


# Django stuff
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.coverage
*.mo

# Django media/static files (optional)
media/
staticfiles/

# Secrets
*.env
/Progress.txt
/server_details.txt
/cred.txt
/api_progress.txt
